In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../csv2_/big_data_minmax_nm.csv')

In [4]:
df.head()

,Unnamed: 0,name,genre,rating,country,score,company,writer,director,hit rate,zscore,robust,minmax
0,0,The Shining,0.036793,1.00000,0.104909,0.147657,0.000210,0.000467,0.000168,2.473620,-0.023105,0.216494,0.000192
1,1,The Blue Lagoon,0.029012,1.00000,0.251513,0.037230,0.000286,0.001032,0.000371,13.078468,0.034505,3.819204,0.001015
2,2,Star Wars: Episode V - The Empire Strikes Back,0.026375,0.26143,0.251513,0.191986,0.000695,0.004627,0.000860,29.909726,0.125940,9.537168,0.002320
3,3,Airplane!,0.035738,0.26143,0.251513,0.095756,0.000314,0.001140,0.000594,23.843868,0.092987,7.476457,0.001850
4,4,Caddyshack,0.035738,1.00000,0.251513,0.056318,0.000184,0.000560,0.000198,6.641057,-0.000465,1.632268,0.000515

In [5]:
df = df.drop(columns='Unnamed: 0')

In [6]:
def func_tier(x):
    if x>=5: return 1
    elif x>=2 and x<5: return 2
    elif x>=1 and x<2: return 3
    elif x>=0.5 and x<1: return 4
    else:   return 5

In [7]:
df['tier'] = df['hit rate'].apply(lambda x:func_tier(x))

In [8]:
df.head()

,name,genre,rating,country,score,company,writer,director,hit rate,zscore,robust,minmax,tier
0,The Shining,0.036793,1.00000,0.104909,0.147657,0.000210,0.000467,0.000168,2.473620,-0.023105,0.216494,0.000192,2
1,The Blue Lagoon,0.029012,1.00000,0.251513,0.037230,0.000286,0.001032,0.000371,13.078468,0.034505,3.819204,0.001015,1
2,Star Wars: Episode V - The Empire Strikes Back,0.026375,0.26143,0.251513,0.191986,0.000695,0.004627,0.000860,29.909726,0.125940,9.537168,0.002320,1
3,Airplane!,0.035738,0.26143,0.251513,0.095756,0.000314,0.001140,0.000594,23.843868,0.092987,7.476457,0.001850,1
4,Caddyshack,0.035738,1.00000,0.251513,0.056318,0.000184,0.000560,0.000198,6.641057,-0.000465,1.632268,0.000515,1

In [9]:
df.to_csv('../csv2_/bit_data_minmax_tier.csv', index=False)

In [10]:
df = pd.read_csv('../csv2_/big_data_robust_nm.csv')
df = df.drop(columns='Unnamed: 0')
df['tier'] = df['hit rate'].apply(lambda x:func_tier(x))
df.to_csv('../csv2_/bit_data_robust_tier.csv', index=False)

In [11]:
df = pd.read_csv('../csv2_/big_data_zscore_nm.csv')
df = df.drop(columns='Unnamed: 0')
df['tier'] = df['hit rate'].apply(lambda x:func_tier(x))
df.to_csv('../csv2_/bit_data_zscore_tier.csv', index=False)